@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

$colors: #03346E, #3f505d, #021526;
$print-btn-bg: #75bb75;
$order-btn-bg: #75bb75;

.table-container-1 {
    .p-datatable {
        border: 2px solid black;
        border-collapse: collapse;

        .p-datatable-thead {
            tr {
                th {
                    padding: 0.5rem 1rem !important;
                    color: inherit;
                    border: none;
                    font-size: 1.05rem;
                }
            }

            @for $i from 1 through 3 {
                tr:nth-child(#{$i}) {
                    color: nth($colors, $i);
                }
            }
        }

        .p-datatable-tbody {
            tr {

                td {
                    min-width: 150px;
                    height: 150px;

                    .td-flex {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        div.td {
                            min-height: 33%;
                        }
                    }
                }

                td:nth-child(8) {

                    div.td {
                        display: flex;
                        flex-direction: row;
                        justify-content: end;

                        button {
                            padding: 0.5rem;
                            background-color: blue;
                        }

                        app-formly-input-action {

                            display: inline-block;

                            form {
                                display: flex;
                                flex-direction: row;
                                gap: 0.3rem;

                                input {
                                    margin: 0 0.2rem 0 0;
                                    padding: 0.5rem;
                                    width: 100%;
                                }

                                button {
                                    padding: 0.5rem;
                                    background-color: green;
                                }
                            }
                        }
                    }

                }
            }

            @for $i from 1 through 3 {
                div.td:nth-child(#{$i}) {
                    color: nth($colors, $i);
                }
            }
        }
    }
}